* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(255, 171, 126);
	color: #363639;
    font-family: 'Work Sans', sans-serif;
}



/* ? ----- PORTADA ----- */
.portada {
	width: 100%;
	background: rgb(255, 171, 126);
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.logotipo {
	font-size: 50px;
	font-size: 900;
	background: linear-gradient(-110deg, red, rgb(246, 255, 0), red);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	margin-bottom: 20px;
}

.portada .header .mensaje {
	font-size: 30px;
	font-weight: 600;
	color: black;
}



/* ? ----- MAIN ----- */
main {
	max-width: 1000px;
	margin: auto;
	width: 90%;
	padding: 60px 0;
	font-size: 18px;
	line-height: 28px;
	text-align: left;

}



/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	background: #fff;
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
}


/* ? ---------------------------- */

	/* BOTONES */
	.divimgbtn{
		display: flex;
		align-items: center;
	}

	.botondiv {
		height: 80px; 
		width: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	input[type="checkbox"] {
		-webkit-appearance: none;
		display: none;
	}
	.spannashe {
		position: relative;
		display: block;
		width: 40px;
		height: 20px;
		background-color: #000;
		cursor: pointer;
		border-radius: 20px;
		overflow: hidden;
		transition: ease-in 0.5s;
	}
	input[type=checkbox]:checked ~ .spannashe  {
		background-color: #000;
		box-shadow: 0 0 0 1500px rgb(36, 0, 56);
	}
	.spannashe:before {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		background-color: #fff;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		transition: 0.5s;
	}

	input[type=checkbox]:checked ~ .spannashe:before {
		transform: translateX(20px);
	}
	
	.spannashe:after {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		background-color: #fff;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		transition: 0.5s;
		transform: translateX(-20px);
	}

	input[type=checkbox]:checked ~ .spannashe:after {
		transform: translateX(-25px);
	}
	


@media (max-width:500px) {
	.portada {
		width: 100%;
		background: (-110deg, red, rgb(246, 255, 0), red);
	
		min-height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: .5s ease-out all;
	}
	#cuenta {
		display: flex;
		justify-content: center;
		margin-bottom: 100px;
		width: 100%;
	}
	.simply-section {
		background: #fff;
		width: 90px;
		height: 90px;
		margin: 0 10px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.simply-amount {
		display: block;
		font-size: 15px;
		font-weight: 700;
	}
	
	.simply-word {
		font-weight: 300;
		font-size: 15px;
	}
}